<h1 class="mt-4 mb-4 text-center">Create a new category</h1>

<div class="container">
  <%= render 'form' %>
  <p class="mt-4"><%= link_to '[ Cancel and return to categories listing ]', categories_path, class: "text-warning" %></p>
</div>