<footer id="sticky-footer" class="py-4 bg-secondary text-white mt-auto">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Alpha Blog", "https://alpha-blog-veronicie.herokuapp.com/articles", class: "text-white" %></small>
  </div>
</footer>